.indexvideo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bastard {
  width: 60%;
  height: auto;
}
.card-section {
  text-align: center;
  gap: 20px;
  padding: 20px;
}

.card-section1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card-section2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.card-title {
  font-family: "Anton", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5rem 0;
}

#mp4titel {
  text-align: center;
  margin-left: 0;
}

.card-undertext {
  font-family: "Anton", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 34px;
}

#marginunder {
  text-align: left;
  margin: 0 auto 1rem auto;
  max-width: 700px;
  padding: 0 1rem;
}

.card-undertextCenter {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin-top: -8px;
}

.card-text {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
}

#margintext {
  margin: 0 auto 25px auto;
  max-width: 700px;
  padding: 0 1rem;
}
.card-section,
.card-section2 {
  padding: 2rem;
  border-radius: 12px;
}

.articleimg {
  margin: 20px 0px 40px 0px;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  justify-items: center;
  text-align: center;
}

@media (max-width: 900px) {
  .card-section1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .bastard {
    width: 90%;
    height: auto;
    margin-bottom: -20px;
  }

  .card-text {
    margin-top: 50px;
  }

  #marginunder {
    font-size: 1.4rem;
    max-width: 640px;
    padding: 0 1rem;
  }
  #margintext {
    max-width: 640px;
  }

  .articleimg {
    margin: 20px 0px 10px 0px;
    width: 95%;
  }

  .grid_1-1-1 {
    grid-template-columns: repeat(1, 3fr);
    padding: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .card-section1 {
    grid-template-columns: 1fr;
  }

  .card-section2 {
    grid-template-columns: 1fr;
  }

  .card-title {
    font-family: "Anton", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0.1rem 0rem;
  }

  .bastard {
    width: 90%;
    height: auto;
    margin-bottom: -20px;
  }

  .card-undertextCenter {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .card-text {
    margin-top: 50px;
  }

  .card-undertext {
    font-size: 1rem;
    margin-left: 34px;
  }

  .grid_1-1-1 {
    grid-template-columns: repeat(1, 3fr);
    padding: 0;
    margin-bottom: 30px;
  }

  #mp4titel {
    text-align: center;
    font-size: 1.3rem;
  }

  .articleimg {
    margin: 20px 0px 10px 0px;
    width: 100%;
  }

  #marginunder {
    font-size: 1.4rem;
  }

  #margintext {
    line-height: 1.8;
  }
}
