.indexvideo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -25px;
}

.card-section {
  text-align: center;
  gap: 20px;
  padding: 20px;
}

.card-section1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card-section2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.card-title {
  font-family: "Anton", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5rem 0;
}

.card-undertext {
  font-family: "Anton", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 34px;
}

#marginunder {
  text-align: left;
  margin-left: 310px;
}

.card-undertextCenter {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin-top: -8px;
}

.card-text {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
}

#margintext {
  margin: 0 310px 25px 310px;
  line-height: 1.8;
}
.card-section,
.card-section2 {
  padding: 2rem;
  border-radius: 12px;
}

.articleimg {
  margin: 20px 0px 40px 0px;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  justify-items: center;
  text-align: center;
}

@media (max-width: 900px) {
  .card-section1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .card-section1 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .card-section2 {
    grid-template-columns: 1fr;
  }
}
