---
import Card from "./Card.astro";
---
<section class="cards">
    <header>
      <h2>tester</h2>
    </header>

    <ul>
  
        <Card title="Okay" />
        <Card title="Ok"/>
        <Card title="helt fint"/>
        <Card title="eyyyy"/>
        <Card title="helt fint" />
    </ul>
  </section>