---
import Button from "./Button.astro"
---
<footer class="footer">
  <div class="social-buttons">
    <a href="https://facebook.com/dinside" target="_blank" rel="noopener noreferrer">
    <Button variant="primary" icon="facebook" />
    </a>
     <a href="https://instagram.com/dinside" target="_blank" rel="noopener noreferrer">
    <Button variant="primary" icon="instagram" />
    </a>
  </div>


<img src="/footer.svg" alt="logofooter" style="width: 100%" />
</footer>

